body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image: url("../images/school.png");
}
.push{
    padding-bottom: 320px;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
    /*box-shadow: 10px 10px 5px #888;*/
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
    padding-top: 10px;
}
.navbar-inverse {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}

.navbar-inverse .navbar-nav > li > a {
    color:#fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-inverse .navbar-brand {
    color:#eeeeee;
}
.max{
    height: 750px;

}
.min{
    height: 620px;
}
figure{
    padding-bottom: 10px;
}